fade-in {
  animation: fadein 500ms linear alternate-reverse;
}
@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

/* Animated gradient blobs */
@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

/* Floating code symbols */
@keyframes float-down {
  0% {
    transform: translateY(-100px) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.3;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

.code-rain {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.code-symbol {
  position: absolute;
  top: -50px;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(124, 58, 237, 0.3);
  animation: float-down 15s linear infinite;
  font-family: "Courier New", monospace;
}
