---
import FloadingAvatar from '../components/FloadingAvatar.astro';
import MainLayout from '../layouts/MainLayout.astro';
import Modal from '../components/Modal.astro';
import Terminal from '../components/Terminal.astro';
---

<MainLayout title="Michael Duren - Portfolio" animated={true}>
  <div
    class="flex flex-col items-center sm:items-start sm:flex-row relative flex-1 w-full"
  >
    <div class="flex-1 items-center h-full order-1 sm:order-2">
      <FloadingAvatar />
    </div>
    <!-- Terminal -->
    <div
      class="mt-16 sm:static flex-1 flex flex-col gap-6 justify-between h-1/2 order-2 sm:order-1"
    >
      <Terminal />
    </div>
  </div>

  <audio class="keyboard-sound" preload="auto" id="K1" src="/audio/K1.mp3"
  ></audio>
  <audio class="keyboard-sound" preload="auto" id="K2" src="/audio/K2.mp3"
  ></audio>
  <audio class="keyboard-sound" preload="auto" id="K3" src="/audio/K3.mp3"
  ></audio>
  <audio class="keyboard-sound" preload="auto" id="K4" src="/audio/K4.mp3"
  ></audio>
  <audio class="keyboard-sound" preload="auto" id="K5" src="/audio/K5.mp3"
  ></audio>
  <audio class="keyboard-sound" preload="auto" id="K6" src="/audio/K6.mp3"
  ></audio>
  <audio class="keyboard-sound" preload="auto" id="K7" src="/audio/K7.mp3"
  ></audio>
  <audio class="keyboard-sound" preload="auto" id="K8" src="/audio/K8.mp3"
  ></audio>
  <audio class="keyboard-sound" preload="auto" id="K9" src="/audio/K9.mp3"
  ></audio>
  <audio class="keyboard-sound" preload="auto" id="K10" src="/audio/K10.mp3"
  ></audio>

  <Modal />
  <script>
    import '../scripts/terminal.ts';
  </script>
  <script>
    my_modal_2.showModal();
  </script>
</MainLayout>
