---
import FloadingAvatar from '../components/FloadingAvatar.astro';
import { Icon } from 'astro-icon';
import MainLayout from '../layouts/MainLayout.astro';
import Modal from '../components/Modal.astro';
---

<MainLayout title="Michael Duren" animated={true}>
  <div class="flex flex-col md:flex-row w-full max-h-1/2">
    <!-- Terminal -->
    <div
      class="animate-pulse flex-1 flex flex-col gap-6 justify-between px-8 h-1/2"
      transition:persist
    >
      <div class="flex items-center gap-2">
        <Icon class="w-8 h-8 storke-2" name="tabler:terminal" />
        <div id="terminal-input" class="text-2xl font-bold"></div>
      </div>
      <ul id="terminal-output" class="flex flex-grow flex-col w-full gap-2"
      ></ul>
    </div>
    <div class="flex-1 items-center">
      <FloadingAvatar />
    </div>
  </div>
  <Modal />
  <script>
    my_modal_2.showModal();
  </script>
</MainLayout>
