---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";
import AboutSection from "../components/AboutSection.astro";
import WorkSection from "../components/WorkSection.astro";
import ContactSection from "../components/ContactSection.astro";
import CodeBackground from "../components/CodeBackground.astro";
---

<MainLayout title="Michael Duren">
  <CodeBackground />
  <div class="relative z-10">
    <Hero />
    <AboutSection />
    <WorkSection />
    <ContactSection />
  </div>
</MainLayout>
