---
import ThemeToggle from "./ThemeToggle.astro";
---

<div
  class="p-2 bg-white/80 dark:bg-gray-800/80 backdrop-blur-md shadow-sm border border-gray-200 dark:border-gray-700 rounded-full"
>
  <ThemeToggle />
</div>
