<!-- Open the modal using ID.showModal() method -->
<dialog id="my_modal_2" class="modal">
  <form method="dialog" class="modal-box">
    <h3 class="font-bold text-lg">Hello!</h3>
    <button id="modal-button-sound">With Sound</button>
    <button id="modal-button-no-sound">Without Sound</button>
  </form>
  <form method="dialog" class="modal-backdrop"> </form>
</dialog>
<script></script>
