<ul class="flex max-h-screen md:flex-col md:justify-start justify-center gap-4">
  <li class="nav-link text-xs sm:text-sm md:text-base" id="home-button">
    <a class="font-rock" href="/">Home</a>
  </li>
  <li class="nav-link text-xs sm:text-sm md:text-base">
    <a class="font-rock" href="/about">About</a>
  </li>
  <li class="nav-link text-xs sm:text-sm md:text-base">
    <a class="font-rock" href="/work">Work</a>
  </li>
  <li class="nav-link text-xs sm:text-sm md:text-base">
    <a class="font-rock" href="/resume">Resume</a>
  </li>
  <!-- <li class="nav-link text-xs sm:text-sm md:text-base" -->
  <!--   ><a class="font-rock" href="/contact">Contact</a></li -->
  <!-- > -->
</ul>

<script>
  import "../scripts/nav-audio";
</script>
