<ul class="flex flex-col gap-4">
  <li><a class="font-rock" href="/">Home</a></li>
  <li><a class="font-rock" href="/about">About</a></li>
  <li><a class="font-rock" href="/work">Work</a></li>
  <li><a class="font-rock" href="/contact">Contact</a></li>
</ul>
