<ul class="flex md:flex-col md:justify-start justify-center gap-4">
  <li class="nav-link" id="home-button"
    ><a class="font-rock" href="/">Home</a></li
  >
  <li class="nav-link"><a class="font-rock" href="/about">About</a></li>
  <li class="nav-link"><a class="font-rock" href="/work">Work</a></li>
  <li class="nav-link"><a class="font-rock" href="/contact">Contact</a></li>
</ul>

<script>
  import '../scripts/nav-audio';
</script>
