---
import { Icon } from 'astro-icon';
---

<div class="flex justify-around">
  <a
    href="https://github.com/michael-duren"
    rel="noopener noreferrer"
    target="_blank"
  >
    <Icon class="w-6 h-6" name="mdi:github" />
  </a>
  <a
    href="https://www.linkedin.com/in/michael-duren/"
    rel="noopener noreferrer"
    target="_blank"
  >
    <Icon class="w-6 h-6" name="mdi:linkedin" />
  </a>
  <a
    href="https://twitter.com/duren_dev"
    rel="noopener noreferrer"
    target="_blank"
  >
    <Icon class="w-6 h-6" name="mdi:twitter" />
  </a>
</div>
