<div class="carousel carousel-center rounded-box">
  <div
    class="carousel-item"
    style="--orbit-radius: 300px; --angle: 0deg; --duration: 20s;"
  >
    <div class="icon-wrapper">
      <i class="devicon-typescript-plain colored text-[5rem]"></i>
    </div>
  </div>

  <div
    class="carousel-item"
    style="--orbit-radius: 330px; --angle: 51deg; --duration: 25s;"
  >
    <div class="icon-wrapper">
      <i class="devicon-go-original-wordmark colored text-[5rem]"></i>
    </div>
  </div>

  <div
    class="carousel-item"
    style="--orbit-radius: 270px; --angle: 102deg; --duration: 22s;"
  >
    <div class="icon-wrapper">
      <i class="devicon-dotnetcore-plain colored text-[5rem]"></i>
    </div>
  </div>

  <div
    class="carousel-item"
    style="--orbit-radius: 360px; --angle: 153deg; --duration: 28s;"
  >
    <div class="icon-wrapper">
      <i class="devicon-kubernetes-plain colored text-[5rem]"></i>
    </div>
  </div>

  <div
    class="carousel-item"
    style="--orbit-radius: 315px; --angle: 204deg; --duration: 24s;"
  >
    <div class="icon-wrapper">
      <i class="devicon-amazonwebservices-plain-wordmark colored text-[5rem]"
      ></i>
    </div>
  </div>

  <div
    class="carousel-item"
    style="--orbit-radius: 285px; --angle: 255deg; --duration: 26s;"
  >
    <div class="icon-wrapper">
      <i class="devicon-azure-plain colored text-[5rem]"></i>
    </div>
  </div>

  <div
    class="carousel-item"
    style="--orbit-radius: 345px; --angle: 306deg; --duration: 23s;"
  >
    <div class="icon-wrapper">
      <i class="devicon-react-original colored text-[5rem]"></i>
    </div>
  </div>

  <div
    class="carousel-item"
    style="--orbit-radius: 295px; --angle: 357deg; --duration: 21s;"
  >
    <div class="icon-wrapper">
      <i class="devicon-docker-plain colored text-[5rem]"></i>
    </div>
  </div>
</div>
