---
import { Icon } from "astro-icon/components";
---

<div class="flex items-center gap-2">
  <Icon
    class="h-6 w-6 md:w-8 md:h-8 stroke-2 text-purple-900"
    name="tabler:terminal"
  />
  <div
    id="terminal-input"
    class="animate-pulse text-lg sm:text-xl md:text-2xl lg:text-3xl text-purple-700 font-bold"
  >
  </div>
</div>
<div>
  <ul
    id="terminal-output"
    class="flex text-white sm:text-gray-700 font-bold bg-blue-700 bg-opacity-60 sm:bg-transparent p-2 sm:p-0 rounded-lg grow sm:text-base text-xs flex-col w-full gap-2 z-100"
  >
  </ul>
</div>
<div class="hidden">
  Welcome to my portfolio site, there are a lot of fun things to check out here
  🎉 "I'm Michael...", 'a', 'Software Engineer', 'Web Developer', 'Musician',
  'Based in Twin Cities MN',
</div>
