---
import { ClientRouter } from "astro:transitions";
import Header from "../components/Header.astro";
import Nav from "../components/Nav.astro";
const { title, animated } = Astro.props;
import "../styles/global.styles.css";
import Social from "../components/Social.astro";
---

<html lang="en">
  <head>
    <ClientRouter />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Michael Duren portfolio incues types, software engineering, skills, computer science, Web Developer JavaScript, Typescript, C#, .NET. "
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://michaelduren.com/" />
    <meta property="og:title" content="Michael Duren" />
    <meta
      property="og:description"
      content="Michael Duren is a software engineer and developer."
    />
    <meta property="og:image" content="https://michaelduren.com/og.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://michaelduren.com/" />
    <meta property="twitter:title" content="Michael Duren" />
    <meta
      property="twitter:description"
      content="Michael Duren is a software engineer and developer."
    />
    <meta property="twitter:image" content="https://michaelduren.com/og.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body class="min-h-screen flex flex-col p-4 gap-2">
    <div class="px-2 py-2 rounded-lg w-full" transition:persist>
      <Header animated={animated} />
    </div>
    <!-- Take the remaining height -->
    <div
      class="flex h-full flex-1 px-2 py-2 rounded-lg gap-8 flex-col md:flex-row"
    >
      <aside
        class="flex flex-col justify-between md:sticky top-[5%] max-h-[70vh]"
        transition:persist
      >
        <div class="sticky-note">
          <Nav />
        </div>
        <div class="sticky-note md:block hidden">
          <Social />
        </div>
      </aside>
      <main class="flex-1 flex flex-col items-center">
        <slot />
      </main>
    </div>
    <footer>
      <div class="sticky-note block md:hidden">
        <Social />
      </div>
    </footer>
    <audio preload="auto" id="bell" src="/audio/bell.mp3"></audio>
    <audio preload="auto" id="blip" src="/audio/blip.mp3"></audio>
    <script src="../scripts/main.ts"></script>
  </body>
</html>
